# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used only locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files during terraform apply
.terraform.tfstate.lock.info

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Plan files
*.tfplan
tfplan

# Generated archive files
*.zip

# Operating System Files
.DS_Store
Thumbs.db

# IDE Files
.idea/
.vscode/
*.swp
*~
